.add-task-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .add-task-form h2 {
    margin-bottom: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  
  .form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 600px;
   
  }
  
  .form-group textarea {
    resize: vertical;
    min-height: 50px;
  }
  
  .add-task-form button {
    background-color: #4CAF50; /* Green color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1rem;
  }
  
  .add-task-form button:hover {
    background-color: #45A049; /* Green hover color */
  }
  
  .error-input {
    border: 1px solid red;
  }
  
  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
  